/* главный цвет на сайте */
$main-color: #F16D7F; 

/* размер имени компании */
$brand-title: 48px;

/* значение сдвига about на слайдер */
$shift: 64px;

/* tablet breakpoint */
$table-bp: 1180px;

/* mobile breakpoint */
$mobile-bp: 767px;